---
import { SITE_NAME } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_NAME}</a></h2>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 2em;
		background: white;
	}
	h2 {
		margin: 0;
		font-size: 32px;
	}
	h2 a {
    color: var(--blue-secondary);
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
    min-height: 7.5rem;
	}
</style>
